/* Base styles */
body {
    background: url(./road.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ecars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 
}

.cars img {
    height: 170px;
    width: 170px;
    margin: 40px;
    background: none;
}

/* Animation */
@keyframes carrace {
    0% {
        transform: translateY(30vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

/* Car animations */
#car1 img {
    animation: carrace 10s linear infinite;
}

#car2 img {
    animation: carrace 7s linear infinite;
}

#car3 img {
    animation: carrace 5s linear infinite;
}

#car4 img {
    animation: carrace 3s linear infinite;
}


@media screen and (max-width: 768px) {
    body {
        background-size: contain;
        background-position: center;
        background-repeat: repeat;
        height: 100vh;
    }

    .cars img {
        height: 120px;
        width: 80px;
        margin:10px;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-size: contain;
        background-position: center;
        background-repeat:repeat;
        height: 100vh;
    }

    .cars img {
        height: 80px;
        width: 40px;
        margin:5px;
    }
}
